
body,
html{
    margin: 0%;
    padding: 0%;
    border: 0px;
    height: 100%;
    overflow: hidden;
}

.editor-div {
    height: 100%;
    display: inline-block;
    margin: 0%;
    padding: 0%;
    width: 40%;
    background-color: var(--background);
    color: var(--f_high);
    overflow: hidden;
}

textarea {
    background-color: var(--background);
    color: var(--f_high);
    resize: none;
    border: 0ch;
    margin: 0%;
    padding: 10pt;
    outline: none;
    height: 100%;
    box-sizing:border-box;
    overflow: hidden;
}