
body,
html{
    margin: 0%;
    padding: 0%;
    border: 0px;
    height: 100%;
    overflow: hidden;
}

.editor-div {
    height: 100%;
    display: inline-block;
    margin: 0%;
    padding: 0%;
    width: 100%;
    background-color: var(--background);
    color: var(--f_high);
    overflow: hidden;
}

textarea {
    background-color: var(--background);
    color: var(--f_high);
    resize: none;
    border: 0ch;
    margin: 0%;
    padding: 10pt;
    outline: none;
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    overflow: hidden;
}